# CIF and Aspectator build directories
build/
build-debug/
inst/

# Tests
tests/__pycache__
tests/.mypy_cache
tests/.pytest_cache
tests/backup
tests/work

# Python
.mypy_cache

# macOS
.DS_Store

# IDE
.vscode
.idea
