name: test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
       
    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y make lbzip2 patch gcc g++ flex bison libc6-dev-i386
    
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
    
    - name: Install test dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade pytest
  
    - name: make
      run: make

    - name: make test
      run: make test
